<div class="container" >
  <div class="row"></div>

  <div class="row">
    <div class="col-md-3 white-text">
      <h3>Pergola Viewer</h3>
      <p>Take some time to view our product</p>
      <p>See the instructions for navigation and features</p>
      <ol>
        <li>Navigation
        <ul>
          <li>Orbit by moving the Pergola Around</li>
          <li>While Orbiting Hold Shift to Pan</li>
          <li>In the Toolbar, Select the camera and hit Play to see the scenes. Then hide the toolbar to watch the animation</li>
          <li>If you get lost while trying to look a round, hit the top button on the toolbar to center on the screen</li>
        </ul>
        </li>
        <li>Tools
          <ul>
            <li>Use the tool bar for extra options</li>
            <li>Click the Camera for animation</li>
            <li>Try the full screen</li>
          </ul>
        </li>
      </ol>
    </div>
    <div class="col-md-6 text-center perg-window white-text">
      <div class="row">
        <%= render "pergola" %>
      </div>
      <div class="text-left">
        <h3><span class="glyphicon glyphicon-menu-up"></span></h3><h6>Click here for toolbar</h6>
      </div>
    </div>
    <div class="col-md-3 white-text">
      <h4>Try it full screen</h4>
    </div>
  </div>

<br/>
</div>